html {
	margin-top: 56px;
}

.App {
  /*text-align: center;*/
}

.nav-bar {
	background-color: #002649;
	border-bottom: 	1px solid #F37748;
}

.navbar-nav {
	display: flex;
	align-items: flex-end;
}

.navbar-nav h6 {
	margin-right: 14px;
	color: lightgrey;
	margin-bottom: 12px;
}

.fa-user-astronaut {
	display: inline;
	padding: 0 16px;
	border-left: 1px solid #8A96A7;
}

.filters {
	color: white;
	margin-bottom: 40px;
	margin-left: 4%;
}
.filters .label{
	margin-right: 12px;
} 

.cards-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*width: 80%;*/
	margin: 0 auto;
}

.card {
	margin: 8px;
	width: 240px;
	height: 100%;
	background-color: #002649;
	color: white;
	border-radius: 10px;
}

.card-title {
	font-size: 18px;

}

.img-container {
  width: 100%;
  height: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.card-img {
	position: relative;
  float: left;
  width: 90%;
  /*height: 100px;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
	/*margin: 4px auto 14px;*/
	border-radius: 10px;
	
	/*height: 100px;*/
}

.card .btn{
	background-color: #F37748;
	border: 0 solid white;
	margin: 5px 0;
	width: 100%;
}

.price {
	font-size: 24px;
	margin-top: 10px;
}

.title {
	text-align: center;
	margin: 30px 0;
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-card {
	width: 300px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.nav-bar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1
}

.items-list {
	margin: 0 auto;
	width: 80%;
}

.dashboard-page {
	margin: 0 2%;
}

.Dashboard-title{
	/*width: 100%;*/
	margin: 0 auto;
}

.dashboard {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

.dashboard h2 {
	margin: 24px 0 5px ;
}

.dashboard h3 {
	margin-bottom: 20px;
}