.App {
  /*text-align: center;*/
}

.cards-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;

}

.card {
	margin: 10px;
	width: 240px;
	height: 100%;
}

.title {
	text-align: center;
	margin: 30px 0;
}